$font-xs: 14px;
$font-xxs: 13px;
$font-xxxs: 12px;
$gray-100: #F2F5FA;
$gray-200: #E3E8EF;
$gray-300: #E5EAF5;
$gray-400: #959EAD;
$gray-500: #515D70;
$gray-600: #CED3DA;
$navy-blue: #404B5A;
$light-blue: #ABB1BA;

/*Global Css*/
body {
    font-family: 'Inter', sans-serif;
}

/*Color Utilities*/
.bg-light {
    background-color: $gray-100 !important;
}

.bg-secondary {
    background-color: $gray-200 !important;
}

.text-primary {
    color: $navy-blue !important;
}

.text-light {
    color: $light-blue !important;
}

/*fonts*/
.fs-7 {
    font-size: $font-xs;
}

.fs-8 {
    font-size: $font-xxs;
}

.fs-9 {
    font-size: $font-xxxs;
}

/*icons*/
.icon {
    max-width: 20px;
    max-height: 20px;
}

.hidden {
    display: none;
}

.icon-box {
    width: 36px;
    height: 36px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}


/*Navigation*/
.navbar {
    .form-control {
        font-size: $font-xs;
        border: none !important;
        outline: none;

        &::placeholder {
            color: $gray-400;
        }

        &:focus {
            box-shadow: none;
            border: 2px solid $gray-600 !important;
        }
    }

    .dropdown-menu {
        top: 150%;
    }

    .dropdown-menu:not(.dropdown-menu-end) {
        left: 50%;
        transform: translateX(-50%);
    }

    .dropdown-item {
        color: $gray-500;
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link {
    font-size: $font-xs;
    color: $gray-400;
    padding-left: 10px !important;
    padding-right: 10px !important;

    &:hover,
    &.active {
        background-color: $gray-200;
        color: $navy-blue;
    }
}

.avatar {
    width: 36px;
    height: 36px;
}

.avatar-dropdown {
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
        background-color: transparent;
        color: $gray-400;
    }
}

.breadcrumb {
    font-size: $font-xxs;

    a {
        color: $light-blue;
    }
}

.breadcrumb-item {
    +.breadcrumb-item {
        &::before {
            color: $light-blue;
        }
    }

    &.active {
        color: $light-blue;
    }

}

.breadcrumb-divider {
    .icon {
        width: 10px;
        height: 10px;
        display: inline-block;
    }
}

/*activity slider card*/
.image-slider {
    .card {
        min-width: 126px;
    }
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.comment-badge {
    top: .75rem;
    right: .75rem;

    .icon {
        max-width: 14px;
        max-height: 14px;
    }
}

.activity-filter-dropdown {
    .dropdown-toggle {
        &::after {
            display: none;
        }
    }
}
.category-dropdown{
    min-width: 204px;
}

.activity-filter-dropdown, .category-dropdown{
    .dropdown-menu {
        top: 130%;
        min-width: 304px;
        max-height: 364px;

        &::-webkit-scrollbar {
            width: 14px;
            background-color: white;
        }

        &::-webkit-scrollbar-thumb {
            border: 4px solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
            border-radius: 9999px;
            background-color: #AAAAAA;
        }
    }
}
.activity-grid{
    .col, .image-box{
        width: 216px;
    }
    .col{
        box-sizing: content-box;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .image-box{
        height: 216px;
    }
}

/*media queries*/
@media(min-width: 992px) {

    /*navigation*/
    .navbar {
        .dropdown-menu {
            min-width: 205px;
        }
    }
}