$font-xs: 14px;
$font-xxs: 13px;
$font-xxxs: 12px;
$gray-100: #F2F5FA;
$gray-200: #E3E8EF;
$gray-300: #E5EAF5;
$gray-400: #959EAD;
$gray-500: #515D70;
$gray-600: #CED3DA;
$navy-blue: #404B5A;
$light-blue: #ABB1BA;

:root {
    --bs-breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjc1IDkuMjVMNS4yNSA1TDAuNzUgMC43NSIgc3Ryb2tlPSIjQUJCMUJBIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
}


/*Global Css*/
body {
    font-family: 'Inter', sans-serif;
}

.icon {
    display: inline-block;
}

/*Color Utilities*/
.bg-light {
    background-color: $gray-100 !important;
}

.bg-secondary {
    background-color: $gray-200 !important;
}

.text-primary {
    color: $navy-blue !important;
}

.text-light {
    color: $light-blue !important;
}

/*fonts*/
.fs-7 {
    font-size: $font-xs;
}

.fs-8 {
    font-size: $font-xxs;
}

.fs-9 {
    font-size: $font-xxxs;
}

/*icons*/

.hidden {
    display: none;
}

.icon-box {
    width: 36px;
    height: 36px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}


/*Navigation*/
.navbar {
    .form-control {
        font-size: $font-xs;
        border: none !important;
        outline: none;

        &::placeholder {
            color: $gray-400;
        }

        &:focus {
            box-shadow: none;
            border: 2px solid $gray-600 !important;
        }
    }

    .dropdown-menu {
        top: 150%;
    }

    .dropdown-menu:not(.dropdown-menu-end) {
        left: 50%;
        transform: translateX(-50%);
    }

    .dropdown-item {
        color: $gray-500;
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link {
    font-size: $font-xs;
    color: $gray-400;
    padding-left: 10px !important;
    padding-right: 10px !important;

    &:hover,
    &.active {
        background-color: $gray-200;
        color: $navy-blue;
    }
}

.avatar {
    width: 36px;
    height: 36px;
}

.avatar-dropdown {
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
        background-color: transparent;
        color: $gray-400;
    }
}

.breadcrumb {
    font-size: $font-xxs;

    a {
        color: $light-blue;
    }
}

.breadcrumb-item {
    +.breadcrumb-item {
        &::before {
            color: $light-blue;
        }
    }

    &.active {
        color: $light-blue;
    }

}

/*activity slider card*/
.image-slider {
    .card {
        min-width: 126px;
    }
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.comment-badge {
    top: .75rem;
    right: .75rem;
    z-index: 5;
}

.activity-multi-slider {
    .nav-icons {
        .icon {
            width: 20px;
            height: 20px;
        }
    }
}
.comment-badge {
    &::after {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-left: .5rem;
        background: url('../../images/icons/comment.svg') no-repeat;
        background-size: contain;
    }
}

.category-badge {
    z-index: 5;
    bottom: .75rem;

    .icon {
        width: 14px;
        height: 14px;
    }
}


.activity-filter-dropdown {
    .dropdown-toggle {
        &::after {
            display: none;
        }
    }

    .icon {
        max-width: 20px;
        max-height: 20px;
    }
}

.category-dropdown {
    min-width: 204px;
}

.activity-filter-dropdown,
.category-dropdown {
    .dropdown-menu {
        top: 130%;
        min-width: 304px;
        max-height: 364px;

        ul {
            max-height: 345px;
            list-style: none;
            padding-left: 0;

            &::-webkit-scrollbar {
                width: 14px;
                background-color: inherit;
            }

            &::-webkit-scrollbar-thumb {
                border: 4px solid rgba(0, 0, 0, 0);
                background-clip: padding-box;
                border-radius: 9999px;
                background-color: #AAAAAA;
            }
        }
    }
}

.activity-grid {

    .col,
    .image-box {
        width: 216px;
    }

    .col {
        box-sizing: content-box;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .image-box {
        height: 216px;

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 100%;
            transition: all .2s ease-in-out;
        }

        .grid-image {
            transition: transform .2s ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }

        &:hover {
            .grid-image {
                transform: scale(1.1, 1.1);
            }

            .overlay {
                top: 0;
                background: rgb(0, 0, 0);
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.5046393557422969) 0%, rgba(0, 212, 255, 0) 100%);
            }

        }
    }
}

.activity-grid {
    &.potrait {
        .image-box {
            height: 290px;
        }
        .image-box-footer{
            .icon{
                width: 16px;
                height: 14px;
            }
        }
    }
}

//activity-banner
.activity-banner {
    .icon {
        width: 32px;
        height: 32px;
    }
}

.activity-banner-image {
    width: 240px;
    height: 277px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

//categories

.categories-filter {
    .icon {
        width: 16px;
        height: 16px;
    }

    .item.active {
        background-color: $gray-200;
    }
}

.scroll-categories {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    a {
        &.active {
            background-color: $navy-blue !important;
            color: #fff !important;
        }
    }

}

.nav-btn {
    height: 100%;

    span {
        cursor: pointer;
        position: relative;
        z-index: 1;
    }

    .icon {
        width: 24px;
        height: 24px;
    }

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7987570028011204) 45%, rgba(255, 255, 255, 1) 100%);
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 0;
    }
}

/*media queries*/
@media(min-width: 992px) {

    /*navigation*/
    .navbar {
        .dropdown-menu {
            min-width: 205px;
        }
    }
}